.topBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  box-shadow: 2.5px 2.5px 5px black ;
  
}
.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F7EED3;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
}

.nav a:hover {
  display: flex;
  background-color: #dbd3bc;
  color: rgb(0, 0, 0);
  padding: 11px 20px;
  box-shadow: 1px 1px 3px;
}
