.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin: 0 15px;
  font-size: 1rem;
}

.nav a:hover {
  text-decoration: underline;
}
